html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
}

#mainScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#hud {
	position: absolute;
	width: 100%;
	height: 100%;
}

.viewfinder {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 50.67%;
	width: 38%;
	height: 0;
	border-radius: 2px;
	box-shadow: 0 0 0 8px white, 0 0 0 16px black;
	transform: translate(-50%, -50%);
}

.instruction {
	position: absolute;
	padding: 36px;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	text-shadow: -2px 0 black, 2px 0 black, -2px 2px black, 0 2px black,
		2px 2px black;
	font-size: 14pt;
	line-height: 1.2;
	margin-top: 30px;
	text-align: center;
}

#titleScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('bg.jpg') center / cover;
}

#titleScreen.hide {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 1.2s ease-in, visibility 0s 1.2s;
}

#startButton {
	width: 220px;
	height: 110px;
	border: none;
	border-radius: 55px;
	background: #e8e8ee;
	color: #2b2d38;
	font-size: 24pt;
	font-weight: inherit;
	text-transform: uppercase;
	outline: none;
	letter-spacing: 2px;
	box-shadow: 0 2px 8px #0004;
}

#startButton:active {
	background: #cbced4;
}

#titleScreen.hide #startButton {
	opacity: 0;
	transform: scale(1.5);
	transition: opacity 0.6s, transform 0.6s ease-in;
}

.footnote {
	color: #e8e8ee;
	font-size: 12pt;
	margin-top: 30px;
	text-shadow: 0 2px 8px #0008;
}

#titleScreen.hide .footnote {
	opacity: 0;
	transition: opacity 0.4s;
}
