html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
}

#mainScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#hud {
	position: absolute;
	width: 100%;
	height: 100%;
}

.viewfinder {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 50.67%;
	width: 38%;
	height: 0;
	transform: translate(-50%, -50%);
	animation: appear 2s 5s ease-out both;
}

.viewfinderCorner1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-top-left-radius: 8px;
	border-top: solid 8px white;
	border-left: solid 8px white;
}
.viewfinderCorner2 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-bottom-left-radius: 8px;
	border-bottom: solid 8px white;
	border-left: solid 8px white;
}
.viewfinderCorner3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-top-right-radius: 8px;
	border-top: solid 8px white;
	border-right: solid 8px white;
}
.viewfinderCorner4 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-bottom-right-radius: 8px;
	border-bottom: solid 8px white;
	border-right: solid 8px white;
}

.instructions {
	position: absolute;
	padding: 36px;
	top: 0;
	left: 0;
	right: 0;
	color: white;
	font-size: 14pt;
	line-height: 1.2;
	margin-top: 30px;
	text-align: center;
}

.instruction1 {
	animation: appear 0.3s 2s ease-out both;
}
.instruction2 {
	animation: appear 0.3s 5s ease-out both;
}
.instruction3 {
	animation: appear 0.3s 8s ease-out both;
}

#titleScreen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #49ad9c url('bg.jpg') center / cover;
}

#titleScreen.hide {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 1.2s ease-in, visibility 0s 1.2s;
}

#startButton {
	width: 220px;
	height: 110px;
	border: none;
	border-radius: 55px;
	background: #e8e8ee;
	color: #2b2d38;
	font-size: 24pt;
	font-weight: inherit;
	text-transform: uppercase;
	outline: none;
	letter-spacing: 2px;
	box-shadow: 0 2px 8px #0002;
}

#startButton:active {
	background: #cbced4;
}

#titleScreen.hide #startButton {
	opacity: 0;
	transform: scale(1.5);
	transition: opacity 0.6s, transform 0.6s ease-in;
}

.footnote {
	color: #e8e8ee;
	font-size: 12pt;
	margin-top: 30px;
	text-shadow: 0 2px 8px #0008;
}

#titleScreen.hide .footnote {
	opacity: 0;
	transition: opacity 0.4s;
}

@keyframes appear {
	from {
		opacity: 0;
	}
}
